apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: [[ .TeamName ]]
  namespace: argocd
spec:
  description: "Project for team [[ .TeamName ]]"
  sourceRepos:
    - "https://github.com/ok-karthik/platform-engineering-idp-gitops-reference-architecture.git"
  destinations:
    - server: "https://kubernetes.default.svc"
      namespace: "[[ .TeamName ]]"
  clusterResourceWhitelist: []
  namespaceResourceWhitelist:
    - group: "apps"
      kind: "Deployment"
    - group: "apps"
      kind: "StatefulSet"
    - group: "apps"
      kind: "DaemonSet"
    - group: ""
      kind: "Service"
    - group: ""
      kind: "ConfigMap"
    - group: ""
      kind: "Secret"
    - group: "networking.k8s.io"
      kind: "Ingress"
    - group: ""
      kind: "ServiceAccount"
    - group: "autoscaling"
      kind: "HorizontalPodAutoscaler"
    - group: "batch"
      kind: "Job"
    - group: "batch"
      kind: "CronJob"
