replicaCount: 2

resources:
  requests:
    cpu: 500m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1024Mi

ingress:
  enabled: true
  className: "traefik"
  hosts:
    - host: [[ .AppName ]].local
      paths:
        - path: /
          pathType: ImplementationSpecific

image:
  tag: "v1.0.0"
