locals {
  resource_name_prefix = "[[ .TeamName ]]-[[ .AppName ]]"
  tags = {
    Team      = "[[ .TeamName ]]"
    Service   = "[[ .AppName ]]"
    ManagedBy = "terraform"
  }
}

module "postgres" {
  source = "[[ .CapabilitiesSourceBase ]]/[[ .Module ]]?ref=[[ .Version ]]"
  team_name = "[[ .TeamName ]]"
  app_name  = "[[ .AppName ]]"
}
