apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: [[ .TeamName ]]-[[ .SystemName ]]
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: 'https://github.com/ok-karthik/platform-engineering-idp-gitops-reference-architecture.git'
        revision: HEAD
        directories:
          - path: 3-tenant-workloads/[[ .TeamName ]]-gitops/systems/[[ .SystemName ]]/*/*
  template:
    metadata:
      name: '[[ .TeamName ]]-{{path.basename}}'
    spec:
      project: [[ .TeamName ]]
      source:
        repoURL: 'https://github.com/ok-karthik/platform-engineering-idp-gitops-reference-architecture.git'
        targetRevision: HEAD
        path: '{{path}}/manifests'
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '[[ .TeamName ]]'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
