terraform {
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 5.0"
    }
  }
  backend "s3" {
    bucket         = "acme-corp-terraform-state"
    key            = "teams/[[ .TenantName ]]/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "acme-corp-terraform-locks"
    encrypt        = true
  }
}

provider "aws" {
  region = "us-east-1"
  default_tags {
    tags = {
      Team      = "[[ .TenantName ]]"
      ManagedBy = "terraform"
    }
  }
}
